# c/java build targets
*.o
*.class

# maven build targets
src/benchmarks/target/
src/jcarbon/target/
src/jrapl/target/
src/native/target/
benchmarks/target/

# eclipse integration
.project
.classpath
.settings

# bazel build targets
bazel-*

# benchmark artifacts
scratch
